<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boston Celtics Stats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="styles/main.css">
</head>

<body>
    <h1>Boston Celtics Stats</h1>
    <div class="scoring">
        <h2>'23-'24 Season</h2>
            <p><ul>
                <li>Points: <%= locals[0].pts %> </li>
                <li>Assists: <%= locals[0].ast %> </li>
                <li>Rebounds: <%= locals[0].reb %>  </li>
                <li>Blocks: <%= locals[0].blk %> </li>
            </ul></p>
        <p><%= locals[0].first_name %> <%= locals[0].last_name %></p>
    </div>

    <div class="playerName">
        <form class="item" action="/" method="post" autocomplete="off">
            <input name="playerNameInput" type="text" placeholder="Enter Player Name" id="txtAutoComplete" list="dlAutocomplete">
            <datalist id="dlAutocomplete">
                <option value="Jayson Tatum"></option>
                <option value="Jaylen Brown"></option>
                <option value="Jrue Holiday"></option>
                <option value="Kristaps Porzingis"></option>
                <option value="Al Horford"></option>
                <option value="Derrick White"></option>
                <option value="Oshae Brissett"></option>
                <option value="Payton Pritchard"></option>
                <option value="Sam Hauser"></option>
                <option value="Luke Kornet"></option>
                <option value="Xavier Tillman"></option>
                <option value="Jaden Springer"></option>
                <option value="JD Davison"></option>
                <option value="Svi Mykhailiuk"></option>
                <option value="Neemias Queta"></option>
                <option value="Jordan Walsh"></option>
            </datalist>
            <button class="add" name="btn" type="submit">submit</button>
        </form>
    </div>

    <div class="player-comparison">
    <h2 class="comparison">Player Comparison</h2>
    <div class="comparison-container">
        <div class="row">
            <div class="col-md-6"></div>
            <p><ul>
                <li>Points: <%= locals[1].pts %> </li>
                <li>Assists: <%= locals[1].ast %> </li>
                <li>Rebounds: <%= locals[1].reb %>  </li>
                <li>Blocks: <%= locals[1].blk %> </li>
            </ul></p>
            <p><%= locals[1].first_name %> <%= locals[1].last_name %></p>
        <form class="item" action="/player1" method="post" autocomplete="off">
            <input name="playerCompOne" type="text" placeholder="Enter Player Name" id="txtAutoComplete" list="dlAutocomplete">
            <datalist id="dlAutocomplete">
                <option value="Jayson Tatum"></option>
                <option value="Jaylen Brown"></option>
                <option value="Jrue Holiday"></option>
                <option value="Kristaps Porzingis"></option>
                <option value="Al Horford"></option>
                <option value="Derrick White"></option>
                <option value="Oshae Brissett"></option>
                <option value="Payton Pritchard"></option>
                <option value="Sam Hauser"></option>
                <option value="Luke Kornet"></option>
                <option value="Xavier Tillman"></option>
                <option value="Jaden Springer"></option>
                <option value="JD Davison"></option>
                <option value="Svi Mykhailiuk"></option>
                <option value="Neemias Queta"></option>
                <option value="Jordan Walsh"></option>
            </datalist>
            <button class="add" name="btn" type="submit">submit</button>
        </form>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <p><ul>
                <li>Points: <%= locals[2].pts %> </li>
                <li>Assists: <%= locals[2].ast %> </li>
                <li>Rebounds: <%= locals[2].reb %>  </li>
                <li>Blocks: <%= locals[2].blk %> </li>
            </ul></p>
            <p><%= locals[2].first_name %> <%= locals[2].last_name %></p>
        <form class="item" action="/player2" method="post" autocomplete="off">
            <input name="playerCompTwo" type="text" placeholder="Enter Player Name" id="txtAutoComplete" list="dlAutocomplete">
            <datalist id="dlAutocomplete">
                <option value="Jayson Tatum"></option>
                <option value="Jaylen Brown"></option>
                <option value="Jrue Holiday"></option>
                <option value="Kristaps Porzingis"></option>
                <option value="Al Horford"></option>
                <option value="Derrick White"></option>
                <option value="Oshae Brissett"></option>
                <option value="Payton Pritchard"></option>
                <option value="Sam Hauser"></option>
                <option value="Luke Kornet"></option>
                <option value="Xavier Tillman"></option>
                <option value="Jaden Springer"></option>
                <option value="JD Davison"></option>
                <option value="Svi Mykhailiuk"></option>
                <option value="Neemias Queta"></option>
                <option value="Jordan Walsh"></option>
            </datalist>
            <button class="add" name="btn" type="submit">submit</button>
        </form>
        </div>
    </div>
    </div>
    
    <div class="playerSpotlight">
    <div class="modal-content">
        <h2 class="modal-title" id="ModalLabel"><%= locals[4].first_name %> <%= locals[4].last_name %></h2>
    <div class="modal-body">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <h2>Player Information</h2>
                <li>Number: <%= locals[4].jersey_number %></li>
                <li>Position: <%= locals[4].position %> </li>
                <li>Height: <%= locals[4].height %> </li>
                <li>Weight: <%= locals[4].weight %> lbs</li>
                <li>College: <%= locals[4].college %> </li>
                <li>Country: <%= locals[4].country %> </li>
                <li>Draft Year: <%= locals[4].draft_year %> </li>
                <li>Drafted: Round <%= locals[4].draft_round %> Pick <%= locals[4].draft_number %></li>
                </ul> 
            </div>
            <div class="col-md-4"><img src=<%= locals[3].playerCardImage %>></div>
            <div class="col-md-4 ms-auto">
                <ul>
                    <h2>Season Averages</h2>
                <li>Points: <%= locals[4].pts %> </li>
                <li>Assists: <%= locals[4].ast %> </li>
                <li>Rebounds: <%= locals[4].reb %>  </li>
                <li>Blocks: <%= locals[4].blk %> </li>
                </ul> 
            </div>
        </div>
    </div>
    </div>

    <form class="item" action="/playerTile" method="post" autocomplete="off">
    <div class="roster">
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="jayson_tatum">
            <img src="/images/jayson_tatum.png">
        </button>
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="jaylen_brown">
            <img src="/images/jaylen_brown.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="kristaps_porzingis">
            <img src="/images/kristaps_porzingis.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="jrue_holiday">
            <img src="/images/jrue_holiday.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="derrick_white">
            <img src="/images/derrick_white.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="al_horford">
            <img src="/images/al_horford.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="payton_pritchard">
            <img src="/images/payton_pritchard.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="sam_hauser">
            <img src="/images/sam_hauser.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="luke_kornet">
            <img src="/images/luke_kornet.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="oshae_brissett">
            <img src="/images/oshae_brissett.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="xavier_tillman">
            <img src="/images/xavier_tillman.png">
        </button>
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="jaden_springer">
            <img src="/images/jaden_springer.png">
        </button>  
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="svi_mykhailiuk">
            <img src="/images/svi_mykhailiuk.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="jordan_walsh">
            <img src="/images/jordan_walsh.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="jd_davison">
            <img src="/images/jd_davison.png">
        </button> 
        <button type="submit" class="playerTile btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal" id="playerNameTile" name="neemias_queta">
            <img src="/images/neemias_queta.png">
        </button> 
    </div>
</form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>