<!DOCTYPE html>
<html lang="en">

<head>
    <title>Boston Celtics Stats</title>
    <link rel="stylesheet" type ="text/css" href="styles/main.css">
</head>

<body>
    <h1>Boston Celtics Stats</h1>
    <div class="scoring">
        <h2>'22-'23 Season</h2>
            <p><ul>
                <li>Points: <%= locals.pts %> </li>
                <li>Assists: <%= locals.ast %> </li>
                <li>Rebounds: <%= locals.reb %>  </li>
                <li>Blocks: <%= locals.blk %> </li>
            </ul></p>
        <p><%= locals.first_name %> <%= locals.last_name %></p>
    </div>

    <div class="playerName">
        <form class="item" action="/" method="post">
            <input name="playerNameInput" type="text" placeholder="Enter Player Name">
            <button class="add" name="btn" type="submit">submit</button>
        </form>
    </div>

    <div class="comparison">
        <h2>Player Comparison</h2>
            <p><ul>
                <li>Points: <%= locals.pts %> </li>
                <li>Assists: <%= locals.ast %> </li>
                <li>Rebounds: <%= locals.reb %>  </li>
                <li>Blocks: <%= locals.blk %> </li>
            </ul></p>
            <p><%= locals.first_name %> <%= locals.last_name %></p>
        <form class="item" action="/" method="post">
            <input name="playerCompOne" type="text" placeholder="Enter Player Name"></form>
            <input class="submit" type="submit">
            <p><ul>
                <li>Points: <%= locals.pts %> </li>
                <li>Assists: <%= locals.ast %> </li>
                <li>Rebounds: <%= locals.reb %>  </li>
                <li>Blocks: <%= locals.blk %> </li>
            </ul></p>
            <p><%= locals.first_name %> <%= locals.last_name %></p>
        <form class="item" action="/" method="post">
            <input name="playerCompTwo" type="text" placeholder="Enter Player Name"></form>
        <input class="submit" type="submit">
    </div>
</body>

</html>